NEXT_PUBLIC_SITE_URL=http://localhost:3000
WORDPRESS_URL=https://cms.example.com
WORDPRESS_GRAPHQL_URL=https://cms.example.com/graphql
WORDPRESS_MEDIA_HOST=cms.example.com
WORDPRESS_API_SECRET=
AUTH_SECRET=
